<h2 mat-dialog-title i18n>Password is required</h2>
<mat-dialog-content>
  <form id="passwordForm" [formGroup]="passwordForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label i18n>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [placeholder]="'Password' | localize"
        type="text"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="space-between">
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <button
    mat-button
    color="primary"
    form="passwordForm"
    type="submit"
    cdkFocusInitial
    [disabled]="passwordControl.value === ''"
    i18n
  >
    Set password
  </button>
</mat-dialog-actions>
