<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col></ion-col>
      <ion-col size="12" size-sm="8" size-xl="8">
        <ion-button fill="clear" routerLink="/" routerDirection="back">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          <ion-text i18n>Cancel &amp; Back</ion-text>
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-card-title *ngIf="currentStep === 1" i18n>1. Select Certificate</ion-card-title>
            <ion-card-title *ngIf="currentStep > 1" i18n>1. Selected Certificate</ion-card-title>
            <ion-card-subtitle *ngIf="currentStep > 1" color="success" i18n
              >Your certificate is valid.</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            <ion-text *ngIf="currentStep === 1" i18n>
              Select your certificate file which you'd like to use to create a proof.
            </ion-text>

            <ng-container *ngIf="currentStep > 1">
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    <h3 i18n>Name:</h3>
                    <p class="ion-text-wrap">{{ selectedCertificate }}</p>
                  </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>
                    <h3 i18n>Schema:</h3>
                    <p class="ion-text-wrap">
                      <ion-text i18n>VERSION</ion-text> {{ certificateData!.schemaVersion }} ({{
                        certificateData!.schemaProcessId
                      }})
                    </p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-container>
          </ion-card-content>

          <ion-button
            *ngIf="currentStep > 1"
            fill="outline"
            class="ion-margin-start ion-margin-bottom"
            (click)="goto(1)"
            i18n
            >Start Over</ion-button
          >

          <ion-button
            *ngIf="currentStep === 1"
            class="ion-margin-start ion-margin-bottom"
            (click)="certificateFileControl.click()"
            i18n
          >
            Select certificate file
          </ion-button>

          <input
            type="file"
            style="display: none"
            (change)="selectCertificate($event)"
            accept=".certificate"
            #certificateFileControl
          />
        </ion-card>

        <ion-card [class.iop-muted-content]="currentStep === 1">
          <ion-card-header>
            <ion-card-title i18n>2. Select the data you Share</ion-card-title>
            <ion-card-subtitle *ngIf="currentStep > 2" color="success" i18n>Data selected.</ion-card-subtitle>
          </ion-card-header>

          <ion-button
            *ngIf="currentStep > 2"
            fill="outline"
            class="ion-margin-start ion-margin-bottom"
            (click)="goto(2)"
            i18n
            >Edit data</ion-button
          >

          <form *ngIf="currentStep === 2" [formGroup]="form" (ngSubmit)="proofContentSelected()">
            <ion-card-content>
              <ion-text i18n>
                Here you can select what data you'd like to share from your certificate. What you don't share will be
                completly removed from your proof.
              </ion-text>

              <ng-container *ngIf="currentStep === 2">
                <ion-item-group>
                  <ion-item-divider class="ion-margin-top iop-item-divider">
                    <ion-label i18n>Proof Settings</ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <ion-label position="stacked" class="ion-text-wrap"><h2 i18n>Purpose of share:</h2></ion-label>
                    <ion-input
                      formControlName="purpose"
                      i18n-placeholder
                      placeholder="E.g.: prove at a court-case"
                    ></ion-input>
                    <ion-note
                      *ngIf="hasErrors('purpose') && form.get('purpose')?.hasError('required')"
                      slot="error"
                      i18n
                    >
                      Please provide the purpose of the proof to be created.
                    </ion-note>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label position="stacked"><h2 i18n>Valid until (in UTC):</h2></ion-label>
                    <ion-datetime-button
                      datetime="datetime"
                      class="ion-margin-bottom ion-margin-top"
                    ></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime
                          formControlName="validUntil"
                          id="datetime"
                          [min]="now"
                          presentation="date"
                          showDefaultButtons="true"
                          doneText="Done"
                          cancelText="Cancel"
                          i18n-doneText
                          i18n-cancelText
                          [locale]="getLocale()"
                        ></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label position="stacked"><h2>Password:</h2></ion-label>
                    <ion-input
                      formControlName="password"
                      type="password"
                      i18n-placeholder
                      placeholder="Please, enter your password"
                      (ionChange)="onPasswordChange($event)"
                    ></ion-input>
                    <ion-note class="iop-validation-error-list" *ngIf="hasErrors('password')" slot="error">
                      <ul>
                        <li *ngIf="form.get('password')?.hasError('required')" i18n>
                          To make your proof password protected, please provide a secure password.
                        </li>
                        <li *ngIf="form.get('password')?.hasError('weakPassword')" i18n>
                          The password is too weak. Must be at least 8 characters long; must contain a lower- and
                          uppercase letter and a symbol or a number.
                        </li>
                      </ul>
                    </ion-note>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label position="stacked" class="ion-text-wrap"><h2 i18n>Repeat password:</h2></ion-label>
                    <ion-input
                      formControlName="passwordRepeat"
                      type="password"
                      i18n-placeholder
                      placeholder="Please, repeat the password"
                    ></ion-input>
                    <ion-note class="iop-validation-error-list" *ngIf="hasErrors('passwordRepeat')" slot="error">
                      <ul>
                        <li *ngIf="form.get('passwordRepeat')?.hasError('passwordsDoNotMatch')" i18n>
                          Passwords do not match.
                        </li>
                        <li *ngIf="form.get('passwordRepeat')?.hasError('required')" i18n>
                          Please confirm your password.
                        </li>
                      </ul>
                    </ion-note>
                  </ion-item>
                </ion-item-group>

                <ion-item-group>
                  <ion-item-divider class="ion-margin-top iop-item-divider">
                    <ion-label i18n>Project Data</ion-label>
                  </ion-item-divider>
                  <ion-item
                    *ngIf="certificateData!.somePartsOfTheDataIsNotMaskable"
                    class="ion-margin-top ion-margin-bottom"
                    lines="none"
                  >
                    <ion-text color="warning"
                      ><strong i18n
                        >Note: your certificate does not support some part of its data to be hidden.</strong
                      ></ion-text
                    >
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label>
                      <h2 i18n>Name:</h2>
                      <p>{{ certificateData!.projectName }}</p>
                    </ion-label>
                    <ion-toggle
                      [class.ion-hide]="form.get('shareProjectName')?.disabled"
                      formControlName="shareProjectName"
                      slot="end"
                    ></ion-toggle>
                    <ion-icon
                      *ngIf="form.get('shareProjectName')?.disabled"
                      slot="end"
                      color="warning"
                      name="warning-outline"
                    ></ion-icon>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label>
                      <h2 i18n>Description:</h2>
                      <p class="ion-text-wrap">{{ certificateData!.projectDescription }}</p>
                    </ion-label>
                    <ion-toggle
                      [class.ion-hide]="form.get('shareProjectDescription')?.disabled"
                      formControlName="shareProjectDescription"
                      slot="end"
                    ></ion-toggle>
                    <ion-icon
                      *ngIf="form.get('shareProjectDescription')?.disabled"
                      slot="end"
                      color="warning"
                      name="warning-outline"
                    ></ion-icon>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label>
                      <h2 i18n>Version description:</h2>
                      <p class="ion-text-wrap">{{ certificateData!.versionDescription }}</p>
                    </ion-label>
                    <ion-toggle
                      [class.ion-hide]="form.get('shareVersionDescription')?.disabled"
                      formControlName="shareVersionDescription"
                      slot="end"
                    ></ion-toggle>
                    <ion-icon
                      *ngIf="form.get('shareVersionDescription')?.disabled"
                      slot="end"
                      color="warning"
                      name="warning-outline"
                    ></ion-icon>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label>
                      <h2 i18n>Version sealer:</h2>
                      <p class="ion-text-wrap">
                        <u>DID:</u> {{ certificateData!.sealer.did }}<br />
                        <u>KeyID:</u> {{ certificateData!.sealer.keyId }}
                      </p>
                    </ion-label>
                    <ion-toggle formControlName="shareVersionSealer" slot="end"></ion-toggle>
                  </ion-item>
                </ion-item-group>

                <ion-item-group>
                  <ion-item-divider class="ion-margin-top iop-item-divider">
                    <ion-label i18n>Files</ion-label>
                  </ion-item-divider>

                  <ng-container *ngFor="let file of certificateData!.files" formGroupName="files">
                    <ng-container [formGroupName]="file.index">
                      <ion-item class="ion-margin-top">
                        <ion-label class="iop-max-width-label ion-text-wrap"
                          ><h2>{{ file.name }}</h2></ion-label
                        >
                        <ion-toggle formControlName="shareFile" slot="end"></ion-toggle>
                        <ion-input class="ion-hide" formControlName="fileName" [value]="file.name"></ion-input>
                      </ion-item>

                      <ng-container *ngIf="form.get('files')?.get(file.index)?.get('shareFile')?.value">
                        <ion-item class="ion-margin-start">
                          <ion-label>
                            <h2 i18n>Uploader</h2>
                            <p class="ion-text-wrap">
                              <u>DID:</u> {{ file.uploader.did }}<br />
                              <u>KeyID:</u> {{ file.uploader.keyId }}
                            </p>
                          </ion-label>
                          <ion-toggle formControlName="uploader" slot="end"></ion-toggle>
                        </ion-item>

                        <ng-container *ngFor="let author of file.authors">
                          <ion-item class="ion-margin-start" formGroupName="authors">
                            <ion-label>
                              <h2 i18n>Author</h2>
                              <p class="ion-text-wrap">{{ author.name }}</p>
                            </ion-label>
                            <ion-toggle [formControlName]="author.index" slot="end"></ion-toggle>
                          </ion-item>
                        </ng-container>

                        <ng-container *ngFor="let owner of file.owners">
                          <ion-item class="ion-margin-start" formGroupName="owners">
                            <ion-label>
                              <h2 i18n>Owner</h2>
                              <p class="ion-text-wrap">{{ owner.name }}</p>
                            </ion-label>
                            <ion-toggle [formControlName]="owner.index" slot="end"></ion-toggle>
                          </ion-item>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ion-item-group>
              </ng-container>
            </ion-card-content>

            <ion-button *ngIf="currentStep === 2" class="ion-margin" type="submit" i18n> Continue </ion-button>
          </form>
        </ion-card>

        <ion-card [class.iop-muted-content]="currentStep !== 3">
          <ion-card-header>
            <ion-card-title i18n>3. Secure Sign Data</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text *ngIf="currentStep === 3" i18n>
              To be able to download the proof, you first must sign it with your credential.
            </ion-text>
          </ion-card-content>

          <ion-button
            *ngIf="currentStep === 3"
            class="ion-margin-start ion-margin-bottom"
            (click)="credentialFileControl.click()"
            i18n
          >
            Select credential
          </ion-button>

          <input
            type="file"
            style="display: none"
            (change)="selectCredential($event)"
            accept=".json"
            #credentialFileControl
          />
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
