<ion-header>
  <ion-toolbar
    class="iop-header-toolbar"
    *ngIf="tenant.settings$ | async as settings; else loadingTenantSettings"
    [style.--background]="settings.colors.primary"
  >
    <ion-img [src]="settings.assets.logo" alt="bc2ip Logo"></ion-img>
    <ion-title class="ion-text-center" [style.color]="settings.colors.text">
      <ion-text>{{ settings.name }}</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" name="globe-outline" [style.color]="settings.colors.text"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" lines="full" (click)="setLocale('de')">
              <ion-img src="assets/locales/de/flag.svg" slot="start" class="iop-flag"></ion-img>
              <ion-text slot="end" i18n>German</ion-text>
            </ion-item>
            <ion-item [button]="true" [detail]="false" (click)="setLocale('en')">
              <ion-img src="assets/locales/en/flag.svg" slot="start" class="iop-flag"></ion-img>
              <ion-text slot="end" i18n>English</ion-text>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
  <ng-template #loadingTenantSettings>
    <ion-toolbar class="iop-header-toolbar">
      <ion-title class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-title>
    </ion-toolbar>
  </ng-template>
</ion-header>
