<ion-header>
  <ion-toolbar class="iop-header-toolbar">
    <ion-img src="assets/bc2ip-neg.png" alt="bc2ip Logo"></ion-img>
    <ion-title class="ion-text-center">
      <ion-text>Dev Tools</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" lines="full" (click)="setLocale('de')">
              <ion-img src="assets/locales/de/flag.svg" slot="start" class="iop-flag"></ion-img>
              <ion-text slot="end" i18n>German</ion-text>
            </ion-item>
            <ion-item [button]="true" [detail]="false" (click)="setLocale('en')">
              <ion-img src="assets/locales/en/flag.svg" slot="start" class="iop-flag"></ion-img>
              <ion-text slot="end" i18n>English</ion-text>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
