ion-img {
  height: 36pt;
  position: absolute;
  top: 0;
  left: 0;
}

.iop-header-toolbar {
  padding: 8pt;
  color: #ffffff;
  --background: rgb(26, 33, 65) !important;
}

ion-button {
  --color: white !important;
}

ion-img.iop-flag {
  height: 21pt;
  margin: 6pt;
}