img.iop-header-img {
  height: 36px;
  width: auto !important
}

.iop-header-toolbar {
  color: #ffffff;
  --background: rgb(26, 33, 65);
}

ion-button {
  --color: white !important;
}

img.iop-flag {
  height: 21pt;
  margin: 6pt;
}