<form [formGroup]="form" (ngSubmit)="unlock()">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title i18n>Password is Required</ion-title>
      <ion-buttons slot="end">
        <ion-button type="submit" [disabled]="!form.valid" i18n>Unlock</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p class="ion-padding-horizontal" *ngIf="mode === 'certificate'" i18n>
      Your certificate is password protected. You need to first unlock it.
    </p>
    <p class="ion-padding-horizontal" *ngIf="mode === 'proof'" i18n>
      Your proof is password protected. You need to first unlock it.
    </p>
    
    <ion-item>
      <ion-label position="floating" i18n>Password</ion-label>
      <ion-input formControlName="password" type="password" #password></ion-input>
      <ng-container *ngIf="form.dirty">
        <ion-note class="iop-validation-error-list" *ngIf="form.get('password')?.errors" slot="error">
          <ul>
            <li *ngIf="form.get('password')?.hasError('required')" i18n>You must provide a password.</li>
            <li *ngIf="form.get('password')?.hasError('invalidPassword')" i18n>Invalid password.</li>
          </ul>
        </ion-note>
      </ng-container>
    </ion-item>
  </ion-content>
</form>