$mat-breakpoints: (
  small: 600,
  medium: 960,
  large: 1280,
) !default;

@mixin only-screen-max($breakpoint) {
  @if map-has-key($mat-breakpoints, $breakpoint) {
    @media only screen and (max-width: (map-get($mat-breakpoints, $breakpoint) - 0.2) + "px") {
      @content;
    }
  }
}

@mixin only-screen-min($breakpoint) {
  @if map-has-key($mat-breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($mat-breakpoints, $breakpoint) + "px") {
      @content;
    }
  }
}
