<mat-card>
  <mat-card-actions>
    <button mat-button routerLink="/">
      <mat-icon>arrow_back</mat-icon>&nbsp;<span i18n>Back to menu</span>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title i18n>Inspect proof</mat-card-title>
  </mat-card-header>
  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    [linear]="true"
    class="stepper"
  >
    <mat-step [stepControl]="inspectForm" [label]="'Upload proof' | localize">
      <ng-container *ngIf="inspectForm.get('file')?.value; else noFile">
        <strong>
          {{ inspectForm.get("file")?.value.name }}
          <button
            mat-icon-button
            (click)="clearFile()"
            color="warn"
            [matTooltip]="'Cancel selected file' | localize"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </strong>
        <mat-list class="validator-list">
          <mat-list-item *ngFor="let validator of fileValidators | keyvalue">
            <mat-icon
              matListIcon
              [class]="result.status"
              *ngIf="validator.value.validator | async as result"
              >{{
                result.status === "valid"
                  ? "check_circle"
                  : result.status === "invalid"
                  ? "error"
                  : result.status === "undetermined"
                  ? "help"
                  : "pending"
              }}</mat-icon
            >
            <p mat-line>{{ validator.value.label }}</p>
            <p mat-line>{{ validator.value.techLabel }}</p>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noFile>
        <button
          mat-raised-button
          color="accent"
          (click)="fileControl.click()"
          type="button"
        >
          <mat-icon>upload</mat-icon>
          <span i18n>Select proof file</span>
        </button>
      </ng-template>
      <input
        type="file"
        style="display: none"
        (change)="selectFile($event)"
        accept=".proof"
        #fileControl
      />

      <div class="controls">
        <div></div>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="inspectForm.invalid"
        >
          <mat-icon>navigate_next</mat-icon> Next
        </button>
      </div>
    </mat-step>
    <mat-step [label]="'Validate content' | localize" [stepControl]="proofForm">
      <mat-list class="validator-list">
        <ng-container *ngFor="let validator of proofValidators | keyvalue">
          <mat-list-item *ngIf="validator.value.validator | async as result">
            <mat-icon matListIcon [class]="result.status">{{
              result.status === "valid"
                ? "check_circle"
                : result.status === "invalid"
                ? "error"
                : result.status === "undetermined"
                ? "help"
                : "pending"
            }}</mat-icon>
            <p mat-line>{{ validator.value.label }}</p>
            <p mat-line>{{ validator.value.techLabel }}</p>
            <p mat-line *ngFor="let message of result.messages">
              {{ message }}
            </p>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <div class="controls">
        <button mat-raised-button matStepperPrevious color="primary">
          <mat-icon>navigate_before</mat-icon><span i18n>Previous</span>
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="proofForm.invalid"
        >
          <mat-icon>navigate_next</mat-icon><span i18n>Next</span>
        </button>
      </div>
    </mat-step>
    <mat-step [label]="'Verified files' | localize">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let document of proofForm.value.provenDocuments"
          (click)="downloadFile(document.fileName)"
        >
          <mat-icon matListIcon>download</mat-icon>
          <p mat-line>{{ document.fileName }}</p>
          <p mat-line>
            <span i18n>Uploader DID</span>: {{ document.uploaderDid }}
          </p>
          <p mat-line>
            <span i18n>Uploader KeyId</span>: {{ document.uploaderKeyId }}
          </p>
          <p mat-line>
            <span i18n>Proof creator uploaded it</span>:
            {{ document.proofCreatorUploadedIt }}
          </p>
          <p mat-line>
            <span i18n>Authors</span>: {{ document.authors.join(", ") }}
          </p>
          <p mat-line>
            <span i18n>Owners</span>: {{ document.owners.join(", ") }}
          </p>
        </mat-list-item>
      </mat-nav-list>
      <div class="controls">
        <button mat-raised-button matStepperPrevious color="primary">
          <mat-icon>navigate_before</mat-icon><span i18n>Previous</span>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
