<mat-card>
  <mat-card-actions>
    <button mat-button routerLink="/">
      <mat-icon>arrow_back</mat-icon> Back to menu
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>Inspect proof</mat-card-title>
  </mat-card-header>
  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    [linear]="true"
    class="stepper"
  >
    <mat-step [stepControl]="inspectForm" label="Upload proof">
      <ng-container *ngIf="inspectForm.get('file')?.value; else noFile">
        <strong>
          {{ inspectForm.get("file")?.value.name }}
          <button
            mat-icon-button
            (click)="clearFile()"
            color="warn"
            matTooltip="Cancel selected file"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </strong>
        <mat-list class="validator-list">
          <mat-list-item *ngFor="let validator of fileValidators | keyvalue">
            <mat-icon
              matListIcon
              [class]="result.status"
              *ngIf="validator.value.validator | async as result"
              >{{
                result.status === "valid"
                  ? "check_circle"
                  : result.status === "invalid"
                  ? "error"
                  : result.status === "undetermined"
                  ? "help"
                  : "pending"
              }}</mat-icon
            >
            <p mat-line>{{ validator.value.label }}</p>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noFile>
        <button
          mat-raised-button
          color="accent"
          (click)="fileControl.click()"
          type="button"
        >
          <mat-icon>upload</mat-icon>
          Select proof file
        </button>
      </ng-template>
      <input
        type="file"
        style="display: none"
        (change)="selectFile($event)"
        accept=".proof"
        #fileControl
      />

      <div class="controls">
        <div></div>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="inspectForm.invalid"
        >
          <mat-icon>navigate_next</mat-icon> Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Validate proof" [stepControl]="proofForm">
      <mat-list class="validator-list">
        <ng-container *ngFor="let validator of proofValidators | keyvalue">
          <mat-list-item *ngIf="validator.value.validator | async as result">
            <mat-icon matListIcon [class]="result.status">{{
              result.status === "valid"
                ? "check_circle"
                : result.status === "invalid"
                ? "error"
                : result.status === "undetermined"
                ? "help"
                : "pending"
            }}</mat-icon>
            <p mat-line>{{ validator.value.label }}</p>
            <p mat-line *ngFor="let message of result.messages">
              {{ message }}
            </p>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <div class="controls">
        <button mat-raised-button matStepperPrevious color="primary">
          <mat-icon>navigate_before</mat-icon>Previous
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="proofForm.invalid"
        >
          <mat-icon>navigate_next</mat-icon>Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Verified files">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let document of proofForm.value.provenDocuments"
          (click)="downloadFile(document.fileName)"
        >
          <mat-icon matListIcon>download</mat-icon>
          <p mat-line>{{ document.fileName }}</p>
          <p mat-line>Uploader DID: {{ document.uploaderDid }}</p>
          <p mat-line>Uploader KeyId: {{ document.uploaderKeyId }}</p>
          <p mat-line>
            Proof creator uploaded it: {{ document.proofCreatorUploadedIt }}
          </p>
          <p mat-line>Authors: {{ document.authors.join(", ") }}</p>
          <p mat-line>Owners: {{ document.owners.join(", ") }}</p>
        </mat-list-item>
      </mat-nav-list>
      <div class="controls">
        <button mat-raised-button matStepperPrevious color="primary">
          <mat-icon>navigate_before</mat-icon>Previous
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
