<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col></ion-col>
      <ion-col size="12" size-sm="8" size-xl="8">
        <ion-button size="small" fill="outline" class="ion-margin-start ion-margin-top" routerLink="/" routerDirection="back">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          <ion-text i18n>Cancel &amp; Back</ion-text>
        </ion-button>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ng-container *ngIf="selectedProof !== null" i18n>Selected Proof</ng-container>
              <ng-container *ngIf="selectedProof === null" i18n>Select Proof</ng-container>
            </ion-card-title>
            <ion-card-subtitle *ngIf="selectedProof !== null" color="success" i18n>Your proof is valid.</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-text *ngIf="selectedProof === null" i18n>
              Select your proof file which you'd like to inspect.
            </ion-text>

            <ng-container *ngIf="selectedProof !== null">
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    <h3 i18n>Name:</h3>
                    <p class="ion-text-wrap">{{ selectedProof }}</p>
                  </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>
                    <h3 i18n>Process ID:</h3>
                    <p class="ion-text-wrap">{{ proofData!.processId }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            
              <ion-button class="ion-margin-top" size="small" fill="outline" (click)="startOver()" i18n>
                Start Over
              </ion-button>
            </ng-container>
          </ion-card-content>

          <ion-button *ngIf="selectedProof === null" class="ion-margin" (click)="proofFileControl.click()" i18n>
            Select proof file
          </ion-button>

          <input
            type="file"
            style="display: none"
            (change)="selectProof($event)"
            accept=".proof"
            #proofFileControl
          />
        </ion-card>

         <ion-card [class.iop-muted-content]="selectedProof === null">
          <ion-card-header>
            <ion-card-title i18n>Verified Proof Data</ion-card-title>
          </ion-card-header>

          <ion-card-content *ngIf="selectedProof !== null">
            <ion-item-group>
              <ion-item-divider class="ion-margin-top">
                <ion-label i18n>Metadata</ion-label>
              </ion-item-divider>
              <ion-item class="ion-margin-top">
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Purpose of share:</h2>
                  <p>{{ proofData!.purpose }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Validity</h2>
                  <p>
                    <u i18n>From:</u> {{ proofData!.validFrom | date:'medium':'UTC' }} UTC<br>
                    <u i18n>Until:</u> {{ proofData!.validUntil | date:'medium':'UTC' }} UTC
                  </p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Timestamp on Blockchain</h2>
                  <p>
                    <u i18n>Exists since:</u> {{ proofData!.existsSinceBlockTime | date:'medium':'UTC' }} UTC (block {{ proofData!.existsSinceBlock | number:'1.0-0' }} )<br>
                    <u i18n>Current block height:</u> {{ proofData!.currentBlockHeight | number:'1.0-0' }}
                  </p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Sealed by</h2>
                  <p>
                    <ion-text *ngIf="proofData!.sealedBy === null; else disclosedSealer" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedSealer>
                      <u>DID:</u> {{ proofData!.sealedBy!.accountDid }}<br>
                      <u>KeyID:</u> {{ proofData!.sealedBy!.keyId }}
                    </ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="proofData!.sealedBy === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2 i18n>Sealed by the creator of the proof</h2>
                  <ion-text *ngIf="proofData!.sealedByProofCreator === null" color="warning" i18n>Not disclosed</ion-text>
                </ion-label>
                <ion-icon *ngIf="proofData!.sealedByProofCreator === null" slot="end" color="warning" name="warning-outline"></ion-icon>
                <ion-icon *ngIf="proofData!.sealedByProofCreator === true" slot="end" color="success" name="checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="proofData!.sealedByProofCreator === false" slot="end" color="danger" name="close-circle-outline"></ion-icon>
              </ion-item>

              <ion-item-divider class="ion-margin-top">
                <ion-label i18n>Project Data</ion-label>
              </ion-item-divider>
              <ion-item class="ion-margin-top">
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2>ID</h2>
                  <p>{{ proofData!.projectId }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Name</h2>
                  <p>
                    <ion-text *ngIf="proofData!.projectName === null; else disclosedProjectName" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedProjectName>{{ proofData!.projectName }}</ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="proofData!.projectName === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Description</h2>
                  <p>
                    <ion-text *ngIf="proofData!.projectDescription === null; else disclosedProjectDescription" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedProjectDescription>{{ proofData!.projectDescription }}</ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="proofData!.projectDescription === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Version Description</h2>
                  <p>
                    <ion-text *ngIf="proofData!.versionDescription === null; else disclosedVersionDescription" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedVersionDescription>{{ proofData!.versionDescription }}</ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="proofData!.versionDescription === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>

              <ion-item-divider class="ion-margin-top">
                <ion-label i18n>Project Permissions</ion-label>
              </ion-item-divider>
              <ion-item class="ion-margin-top">
                <ion-label class="ion-text-wrap">
                  <h2 i18n>Proof's creator has MANAGE permission on the project now</h2>
                </ion-label>
                <ion-icon *ngIf="proofData!.proofCreatorHasManagePermission" slot="end" color="success" name="checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="!proofData!.proofCreatorHasManagePermission" slot="end" color="danger" name="close-circle-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2 i18n>Proof's creator had MANAGE permission on the project when the version was sealed</h2>
                </ion-label>
                <ion-icon *ngIf="proofData!.proofCreatorHadManagePermission" slot="end" color="success" name="checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="!proofData!.proofCreatorHadManagePermission" slot="end" color="danger" name="close-circle-outline"></ion-icon>
              </ion-item>
            </ion-item-group>
          </ion-card-content>
         </ion-card>

         <ion-card [class.iop-muted-content]="selectedProof === null">
          <ion-card-header>
            <ion-card-title i18n>Shared Files</ion-card-title>
          </ion-card-header>

          <ion-card-content *ngIf="selectedProof !== null">
            <ng-container *ngFor="let file of proofData!.files">
              <ion-item-divider class="ion-margin-top">
                <ion-label>{{ file.name }}</ion-label>
              </ion-item-divider>
              <ion-item class="ion-margin-top">
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Uploader</h2>
                  <p>
                    <ion-text *ngIf="file.uploader === null; else disclosedUploader" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedUploader>
                      <u>DID:</u> {{ file.uploader!.accountDid }}<br>
                      <u>KeyID:</u> {{ file.uploader!.keyId }}
                    </ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="file.uploader === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2>Authors</h2>
                  <p>
                    <ion-text *ngIf="file.authors === null; else disclosedAuthors" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedAuthors>
                      {{ file.authors!.join(', ') }}
                    </ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="file.authors === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-text-wrap">
                  <h2 i18n>Owners</h2>
                  <p>
                    <ion-text *ngIf="file.owners === null; else disclosedOwners" color="warning" i18n>Not disclosed</ion-text>
                    <ng-template #disclosedOwners>
                      {{ file.owners!.join(', ') }}
                    </ng-template>
                  </p>
                </ion-label>
                <ion-icon *ngIf="file.owners === null" slot="end" color="warning" name="warning-outline"></ion-icon>
              </ion-item>
              <ion-button size="small" class="ion-margin-start ion-margin-top" (click)="downloadFile(file.name)">
                <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
                <ion-text i18n>Download</ion-text>
              </ion-button>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
