@use "@angular/material" as mat;
@use "breakpoints" as breakpoints;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  margin: 16px;
  display: flex;
  justify-content: center;

  @include breakpoints.only-screen-min(medium) {
    margin-top: 10vh;
  }
}

.picker {
  display: flex;
  gap: 10vw;
  flex-basis: 100%;

  .mat-raised-button {
    font-size: 2vw;
    padding: 2vw;

    @include breakpoints.only-screen-max(small) {
      font-size: 16px;
      padding: 16px;
    }
  }
}

.stepper {
  min-width: 50vw;

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  @include breakpoints.only-screen-max(small) {
    //min-width: calc(100vw - 64px);
  }
}

.validator-list {
  .mat-icon {
    &.valid {
      color: green;
    }

    &.invalid {
      color: red;
    }

    &.undetermined {
      color: orange;
    }
  }
}
